/*CSS reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    }
/* remember to define focus styles! */
:focus {
    outline: 0;
    }

ol, ul {
    list-style: none;
    }
/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
    }
caption, th, td {
    font-weight: normal;
    text-align: left;
    }
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    }
blockquote, q {
    quotes: "" "";
    }
/*end of CSS reset*/

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
   
    }

/*General Styles (great to use until you have a preference)*/
html{
    font-size: 62.5%;
    background-color:rgb(57, 197, 212);
    
}

body{
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f;
}

section{
    /*padding:4% 0; this just spaces the page out a little bit nicer.*/
    background-color:mediumpurple;
}
/*Header Styles*/
.title{
    width:40%;
    display:flex;
    font-size:4rem;
    justify-content:left;
    margin:2%;
    color:rebeccapurple;
}
.navBar{
    width:45%;
    display:flex;
    justify-content: center;
    font-size:2rem;
    flex-direction:row;
    text-decoration:none;
    margin-bottom:1.5%;
}
 .navBar a{
    
    background-color:rgb(247, 189, 232);
    text-decoration:none;
    padding:.5% 5%;
    color:rebeccapurple;
    border:2px solid rgb(92, 53, 198);
}
.navBar a:hover{
    background-color:mediumpurple;
    color:pink;
    transition:1s;
}
#home{
    background-color:rebeccapurple;
    color:white;
}
#home:hover{
    background-color:hotpink;
    color:rebeccapurple;
}

/* about section styles */
#wrapper{
    width:100%;
}
#me{
    display:flex;
}
.introPic{
    width:48%;
    background-image:url('https://picsum.photos/300/200');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    /* height:50vh; */
    margin:1%;
}

h2{ 
    font-size:3rem;
    padding:2%;
}
.about a{
    width: 30%;
    font-size:2rem;
    text-align:center;
    text-decoration:none;
    border:2px solid rebeccapurple;
    background-color:turquoise;
    padding:2%;
    margin:auto 2%;
}
.about a:hover{
    background-color:rgb(252, 169, 182);
    color:mediumpurple;
    transition:1s;
}
.about p{
    padding:4%;
}

.about{
    color:turquoise;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-content:flex-end;
    width:50%;
    padding:5% 4% 2%;
}
 /*pictures and body styles*/
 .photograph{
     width:100%;
     
 }
 .picContainer{
    
     padding:2%;
     display:flex;
     flex-wrap:wrap;
 }
.pictures{
    width:25%;
    /* padding:1%; */
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap:wrap;
    /* border:none; */
    margin-bottom:3%;
    
}
.pictures p{
    padding:2%;
    color:turquoise;
    width:100%;
    text-align:center;
}

/*Footer styles*/
footer{
    text-align:center;
    padding:3%;
    color:rebeccapurple;
    text-transform:capitalize;font-size:2.7rem;
    background-color:rgb(57, 197, 212);
}
h3{
    padding:2%;
    color:black;
    
}
#contact{
    padding:1%;
    border:2px solid rgb(92, 53, 198);
    background-color:rgb(247, 189, 232);
    border-radius:3px;text-decoration:none;
} 
#contact:hover{
    background-color:rebeccapurple;
    color:pink;
    transition:1s;
}

/* Media Queries */
@media(max-width:800px){
    /* tablet screen size */
    .title, .navBar{
        width:100%
    }
    .title{
        margin:auto;
    }
    .pictures{
        width:30%;
        margin:auto;
    }
    #introPic, .about{
        width:100%;
        flex-direction:column;

    } 
    .about a{
        word-wrap:no-wrap;
        width:50%;
        padding:3%;
        margin-left:25%;

    }

}

@media(max-width:500px){
    /* phone screen size */
    
    .pictures{
        width:48%;
        margin:auto;
    }
   .title{
        width:100%;
        text-align:center;
        padding:0;
        margin-left:20%;
    }
    .navBar{
        width:50%;
        margin-left:25%;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:center;
    } #home, #about, #contact, #projects{
        text-align:center;
    }
    #me{
        width:100%;
        flex-direction:column;
        justify-content:center;
    }
    .introPic{
        width:100%;
        height:40vh;
    }
    h2,.about a, .about p{
        padding:auto;
        text-align:center;
        
    } 
   
    
}